body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
  margin: 0px 5px;
}

.landing {
  background-image: url(../../client/public/landingBG.jpg);
  height: 100vh;
  background-size: 100%;
}
.recipePage {
  background-image: url(../../client/public/recipeBG.jpg);
  height: 100vhvh;
  background-size: cover;
}
.filter {
  height: 100%;
  background-color: gray;
  background-size: 100%;
}
.cardPad {
  margin: 10px 0px;
}
